/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: rgba(0, 0, 0, 0.95);
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #e50914;
    /* border-bottom: 5px solid #e50914; */
    border-bottom: 5px solid white;
}

h2 {
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px black;
    margin-left: 20px;
}


.logo {
    margin: 10px 20px;

}

.logo img {
    height: 50px;

}

.generi {
    margin-right: 20px;   
}

#generi-movie {
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

.search {
    margin-right: 20px;
}

#ricerca {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    box-shadow: 3px 3px black;
}

#ricerca:focus {
    border: 2px solid black;
}

#tasto-cerca {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    box-shadow: 3px 3px black;
}



/* MAIN */
main {
    margin-top: 80px;
}

#welcome {
    color: white;
    line-height: 80vh;
    font-size: 60px;
    text-align: center;
}


.container-Film, .container-Tv {
    padding: 20px;
    margin: 15px auto 20px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.contenitore-scheda {
    padding: 15px;

}

.scheda {
    position: relative;
    height: 450px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
    background-color: black;
    color: white;
    overflow: hidden;
    transition: 0.5s;
}

.scheda:hover {
    transform: scale(1.05);
}

.poster {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    transition: 1.5s;
}


.contenitore-scheda:hover .poster {
    opacity: 20%;
}

.dati-scheda {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 450px;
    width: 300px;
    list-style: none;
    padding: 20px;
    transition: 1.5s;
}

.contenitore-scheda:hover .dati-scheda {
    opacity: 1;
    z-index: 3;
}

.dati-scheda li {
    margin-bottom: 10px;
}

.dati-scheda .fa-star {
    color: gold;
}

.no-risultato span {
    color: white;
    font-size: 60px;
    padding-left: 20px;

}

.bandiera {
    width: 10%;
    height: 10%;
}

.active {
    position: relative;
    display: block;
}

.inactive {
    position: absolute;
    display: none;
}
