/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: SlateGrey;
    /* background-color: black; */
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #e50914;
    /* border-bottom: 5px solid #e50914; */
    border-bottom: 5px solid white;
}


/* HEADER */
/* h1 {
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px black;
} */

h2 {
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px black;
    width: 100%;
    margin-left: 20px;
}

.logo {
    margin: 10px 20px;

}

.logo img {
    height: 50px;

}

.search {
    margin-right: 20px;
}

#ricerca {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    box-shadow: 3px 3px black;
}

#ricerca:focus {
    border: 2px solid black;
}

#tasto-cerca {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    box-shadow: 3px 3px black;
}



/* MAIN */
main {
    margin-top: 80px;
    width: 100vw;
    /* height: calc(100vh - 80px); */
}

.container {
    width: 100vw;
    padding: 20px;
    margin: 20px auto 0;


}

.contenitore-scheda {
    padding: 15px;
    float: left;

}

.scheda {
    position: relative;
    height: 450px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
    background-color: black;
    color: white;
    overflow: hidden;
    transition: 0.5s;
}

.scheda:hover {
    transform: scale(1.05);
}

.poster {
    /* display: none; */

    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    transition: 1.5s;
}


.contenitore-scheda:hover .poster {
    opacity: 20%;
}

.dati-scheda {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 450px;
    width: 300px;
    list-style: none;
    padding: 20px;
    transition: 1.5s;
}

.contenitore-scheda:hover .dati-scheda {
    opacity: 1;
    z-index: 3;
}

.dati-scheda li {
    margin-bottom: 10px;
}



.no-risultato {
    /* display: none; */
}


.no-risultato span {
    width: 100vw;
    font-size: 100px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);

}

.bandiera {
    width: 10%;
    height: 10%;
}

/* .active {
    display: block;
} */
